body {
    background-color: silver;
    background-image: url(../Images/fondo\ cesmic.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
}

.imgcarrousel {
    margin: auto;
    padding-top: 20px;
    height: 1200px;
    width: 400px;
}