h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    padding: 0px;
    text-align: center;
    font-size: 60px;
    font-style: italic;
    font-stretch: wider;
    margin-left: 10px;
}

h2 {
    text-align: center;
    color: black;
    padding-bottom: 10px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    margin-left: 20px;
}

h3 {
    color: black;
    padding: 10px;
    padding-bottom: 20px;
    margin-left: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    margin-left: 40px;
    text-shadow: 6px 3px 3px rgb(253, 253, 130);
}

p {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-shadow: 6px 3px 3px rgb(253, 253, 130);
    font-size: 30px;
    margin-left: auto;
} 



.title {
    font-size: calc(0.725rem + 1.5vw);
}

@media (min-width: 1200px) {
    .title {
    font-size: 2rem;
    }
}
